/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: black; color: white;  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
header {margin: 25px; text-align: center; color:white;}

.flex{
    display:flex;
    padding:20px;
}

.flexbmr{
    display:flex;
    border-top: 0px;
    padding-top: 0px;
    column-gap: 240px;
}

.card{
    padding:20px;
    height: 100%;
    width: 400px;
    max-width: 300px;
    margin-left: 100px;
    background-color: grey;
    color: white;
    text-align: center; 
}


.center{
    padding:20px;
    text-align: center;
}





