/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: black; color: white;  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
header {margin: 25px; text-align: center; color:white;}


.card{
    padding: 10px;
    height: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    background-color: grey;
    color: white;
    text-align: center;
    border-radius: 15px;
    transition: .5s; 
}

.center{
    padding:20px;
    text-align: center;
    margin-top:40px;
    transition: .5s;
}



.inner{
    padding:20px;
    height: 100%;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 15px;  
}

.foot{
    margin-top: 50px;
    text-align: center;
}

.head{
    background-color: palevioletred;
    padding: 10px;
    border-radius: 10px;
}

.mat-mdc-tab:hover{
    background-color: blue;
}

.mat-mdc-raised-button.mat-primary:hover{
    transform: scale(1.5);
}

.mat-mdc-radio-button.mat-primary:hover{
    --mdc-radio-unselected-hover-icon-color:blue;
    --mat-radio-ripple-color: blue;
}
.mdc-tab{
    min-width: auto;
}
.card:hover{
    transform: scale(1.1);
}








